## **Major Assignment #2**

Last update: Tuesday 12 September 2023 14:00

## Assignment objectives:
This assignment is aim to help students to practise their programming skill in using:
- string
- list
- function

to solve the problem.

# Instructions
1. Save a copy of this file in your own Drive or hard disk (**This is very important, otherwise, your work will be lost.**)

2. Rename this notebook file to **`HW2_xxxxxxxxxx.ipynb`**, where **`xxxxxxxxxx`** is your student ID.

3. Make sure that you do not look at other people's code.

4. Make sure that nobody look at your code.

5. If your code is similar to other student(s), you will get 0.

# Submission
 * File->Download->Download .ipynb
 * Submit the downloaded (and modified) file to MyCourseVille **before 23:59 of 14 October 2023**.


---

# Football League Table

You are maintaining a football league table.

The table is a list containing each football team information. All teams are assumed to have different names.  
Each football team information is a list of [teamname, matchPlayed, points, goalDifference, GoalScores, GoalScoredAgainst] .

So, an example table will look like:

[['Blackburn', 2, 3, 1, 3, 2], ['Southampton', 1, 3, 1, 2, 1], ['Chelsea', 2, 3, -1, 3, 4]]

The table must also have a string representation (for printing and saving to file). From an example table above, a printout version of the table will look like:

<pre>
Team        |Pld|Pts|Dif|For|Agst|
Blackburn   |  2|  3|  1|  3|   2|
Southampton |  1|  3|  1|  2|   1|
Chelsea     |  2|  3| -1|  3|   4|
</pre>    

You can see that there is a header row.

A team name can have 12 characters (including the filled in blanks).

A matched played cell (Pld) can have 3 characters (including the filled in blanks, which must be filled on the left).

Other cells are just like the matched played cell, except GoalScoredAgainst cell (Agst), which contains 4 characters.

# Your task
Complete the following functions of the program that manages football league table:

1. **`createTable(s)`**

Create table from a string of team names (each name is separaated by a blank space), for example: "Arsenal Liverpool Chelsea".
- The table will have all number cells filled with 0.
- for example, parameter "Arsenal Liverpool Chelsea" will generate table: [["Arsenal",0,0,0,0,0],["Chelsea",0,0,0,0,0],["Liverpool",0,0,0,0,0]]
- Note that the table must be sorted according to function "sortTable".
- This function returns the created table.

---

2. **`sortTable(table)`**

Sort the table by the following fields in order:
- Pts (descending)
- Dif (descending)
- For (descending)
- Agst (ascending)
- teamname (ascending)
- Pld (ascending)

Return the sorted table.

For example:

sortTable([['Blackburn', 2, 3, 1, 3, 2], ['Southampton', 2, 4, 2, 3, 1]]) returns

[['Southampton', 2, 4, 2, 3, 1], ['Blackburn', 2, 3, 1, 3, 2]]

sorTable([['Chelsea', 2, 3, 0, 4, 4], ['Blackburn', 2, 3, 1, 3, 2]]) returns

[['Blackburn', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4]]

sortTable([['Stoke', 2, 0, -1, 1, 2], ['Newcastle', 1, 0, -1, 1, 2], ['Everton', 2, 0, -1, 1, 2],['Derby', 2, 0, -1, 1, 1], ['Liverpool', 1, 1, 0, 5, 5], ['Blackburn', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4], ['Arsenal', 1, 1, 0, 4, 4], ['Southampton', 2, 4, 2, 3, 1]]) returns

[['Southampton', 2, 4, 2, 3, 1], ['Blackburn', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4], ['Liverpool', 1, 1, 0, 5, 5], ['Arsenal', 1, 1, 0, 4, 4], ['Derby', 2, 0, -1, 1, 1], ['Everton', 2, 0, -1, 1, 2], ['Newcastle', 1, 0, -1, 1, 2], ['Stoke', 2, 0, -1, 1, 2]]

---

3. **`toString(table)`**

Create a string that represents the table for printing.
- For example if the table is: [["Arsenal",0,0,0,0,0],["Chelsea",0,0,0,0,0],["Liverpool",0,0,0,0,0]]
- The following string will be returned:

<pre>
   "Team        |Pld|Pts|Dif|For|Agst|
    Arsenal     |  0|  0|  0|  0|   0|
    Chelsea     |  0|  0|  0|  0|   0|
    Liverpool   |  0|  0|  0|  0|   0|"
</pre>

(Note that there are invisible "\n" at the end of each line)

A team name can have 12 characters (including the filled in blanks).

A matched played cell (Pld) can have 3 characters (including the filled in blanks, which must be filled on the left).

Other cells are just like the matched played cell, except GoalScoredAgainst cell (Agst), which contains 4 characters.

---

4. **`saveTable(table)`**

Save the table to file (as a ready-to-print string). Also print the table out on console.

If the table is:

[['Blackburn', 2, 3, 1, 3, 2], ['Southampton', 1, 3, 1, 2, 1], ['Chelsea', 2, 3, -1, 3, 4], ['Arsenal', 1, 1, 0, 4, 4], ['Liverpool', 1, 1, 0, 4, 4], ['Everton', 1, 0, -1, 1, 2]]

Then saveTable(table) will print:

<pre>
Team        |Pld|Pts|Dif|For|Agst|
Blackburn   |  2|  3|  1|  3|   2|
Southampton |  1|  3|  1|  2|   1|
Chelsea     |  2|  3| -1|  3|   4|
Arsenal     |  1|  1|  0|  4|   4|
Liverpool   |  1|  1|  0|  4|   4|
Everton     |  1|  0| -1|  1|   2|
</pre>
    
And the printed string will be saved into the file "table.txt". (In this homework, you must use this file name.)

---

5. **`match(table, team1, team2, score1, score2)`**

Input is the table, team1 name, team2 name, goals that team1 scores, goals that team2 scores.
- if team1 and team2 are the same, just report "Error: a team plays the same team!" and return table.
- if both teams are not in the table, report "Error: Both team do not exist in the table!" and return table.
- if only team1 is in the table, report "Error: Second team does not exist in the table!" and return table.
- if only team2 is in the table, report "Error: First team does not exist in the table!" and return table.
- otherwise, update the table:
    - winning team scores 3 points, drawing gets 1 point, losing team gets 0 point.
    - Pld has to increase by 1.
    - Goal difference is the team's score - the other team's score.
    - For needs to be added by the goal scored by the team.
    - Agst needs to be added by the goal scored by the opposition team.

- return the updated table that is already sorted.

6. **`changePoint(table, team, point)`**

This function change sthe Pts of the given team by "point" amount (can be positive and negative integer). Only the point is changed. This change can move the team up or down the table.

Return the updated table after point change (the table must be sorted again).

7. **`removeTeams(table, toRemove)`**

This function removes some team from the table.
- toRemove is a list of team names to remove, for example: ["Southampton", "Arsenal", "Liverpool"].
- It is ok for the input to have a team that is not in the table. The program will simply ignore that team.
- This function returns the updated table (must already be sorted again).

8. **`addTeams(table, toRemove)`**

Add some team to the given table (assume that no team with the same name as existing ones are added).
- toAdd is a list of team names to add, for example: ["Southampton", "Arsenal", "Liverpool"].
- all numbers for the new teams are set to 0.
- return the updated table (must already be sorted again).

9. **`resetTable(table)`**

- reset all number information in the table to 0.
- return the updated table (already sorted again).

[['Blackburn', 2, 3, 1, 3, 2], ['Southampton', 1, 3, 1, 2, 1], ['Chelsea', 2, 3, -1, 3, 4]] will become [['Blackburn', 0, 0, 0, 0, 0],  ['Chelsea', 0, 0, 0, 0, 0], ['Southampton', 0, 0, 0, 0, 0]]

10. **`loadFile(filename)`**

This function makes a table from a given text file.
- the text file form is similar to the following example (actual file is also given).
- be careful, there are white spaces to make the table readable:

<pre>
Team        |Pld|Pts|Dif|For|Agst|    
Blackburn   |  2|  3|  1|  3|   2|
Southampton |  1|  3|  1|  2|   1|
Chelsea     |  2|  3| -1|  3|   4|
Arsenal     |  1|  1|  0|  4|   4|
Liverpool   |  1|  1|  0|  4|   4|
Everton     |  1|  0| -1|  1|   2|
</pre>

- return the table (must be sorted).

The above file will return:

[['Blackburn', 2, 3, 1, 3, 2], ['Southampton', 1, 3, 1, 2, 1], ['Chelsea', 2, 3, -1, 3, 4], ['Arsenal', 1, 1, 0, 4, 4], ['Liverpool', 1, 1, 0, 4, 4], ['Everton', 1, 0, -1, 1, 2]]



## Note:

# <font color="red"> **Rules: Very important** </font>
- Do not delete or modify the first line in the given code cell.
- You work must be added in the provided area only.
- If you want to write your own program to test, add new code cell after the 'Test' section.
- **You are allowed to use knowledge in chapter 1-7**
- **`tuple, dict, set, numpy`** are **NOT** allowed. If you violate, you will not get mark for the function that violate the rules.
- You are not allowed to import any library. If you use other IDE to write the program, make sure that you remove all imports generated from the IDE before submit.
- Your program must be able to run without any compilation error, especially indentation error.

# Mistakes from the past:
- Not submit in .ipynb format.
- Not use File>Download>.ipynb to download, but rename .py to .ipynb (file is not in .ipynb format!!).
- Use IDE that automatically import some libraries that are not allowed and not remove before submit.
- Use IDE to write and test without error, but not recheck when copy the code to homework's colab file (sometimes get the indentation error).
- Use IDE, when copy the code, replace the first line in the code cell (the first line begins with #HW2 ...).
- The examples in each function do not cover all possible situations. You should think about all possible situations and test them with your own test data.

In [ ]:
# HW2 Football-League-Table (*** DO NOT DELETE this line or add line before this ***)
# Only add your code in the provided area.
# DO NOT delete or modified the given code in main()

def toString(table):
    # create a string that represents the table for printing
    # for example if the table is: [["Arsenal",0,0,0,0,0],["Chelsea",0,0,0,0,0],["Liverpool",0,0,0,0,0]]
    # this method will return a string that can be printed as a table

    #Team        |Pld|Pts|Dif|For|Agst|
    #Arsenal     |  0|  0|  0|  0|   0|
    #Chelsea     |  0|  0|  0|  0|   0|
    #Liverpool   |  0|  0|  0|  0|   0|

    # team name can have up to 12 characters
    # Pld, Pts, Dif, For can have up to 3 characters
    # Agst can have up to 4 characters

    # enter your code here
    s = "Team        |Pld|Pts|Dif|For|Agst|\n"
    for i in range(len(table)):
      s += table[i][0]+" "*(12-len(table[i][0])) + "|"
      for j in range(1,5):
        s += " "*(3-len(str(table[i][j]))) + str(table[i][j]) + "|"
      s += " "*(4-len(str(table[i][5]))) + str(table[i][5]) + "|\n"
    return s






def createTable(s):
    # create table from team names, for example: "Arsenal Liverpool Chelsea"
    # return the created table, for example: [["Arsenal",0,0,0,0,0],["Chelsea",0,0,0,0,0],["Liverpool",0,0,0,0,0]]
    # the created table must be sorted according to function "sortTable"

    # enter your code here
    s = s.split()
    x = []
    for i in range(len(s)):
      x.append([s[i],0,0,0,0,0])
    x = sortTable(x)
    return x




def sortTable(table):
    # sort table by the following fields in order:
    # Pts (descending)
    # Dif (descending)
    # For (descending)
    # Agst (ascending)
    # teamname (ascending)
    # Pld (ascending)

    # return the sorted table
    # enter your code here
    forSort = []
    for i in range(len(table)):
        forSort.append([-1*table[i][2], -1*table[i][3], -1*table[i][4], table[i][5], table[i][0], table[i][1]])

    newTable = []
    forSort = sorted(forSort)
    for i in range(len(forSort)):
        for j in range(len(table)):
            if forSort[i][4] == table[j][0]:
                newTable.append(table[j])
                break

    return newTable







def saveTable(table):
    # save the table to file "table.txt" (as a ready-to-print string)
    # also print the table out
    # enter your code here
    table = toString(table)
    textFile = open("table.txt", "w")
    textFile.write(table)
    textFile.close()
    print(table)






def match(table, team1, team2, score1, score2):
    # input is the table, team1 name, team2 name, goals that team1 scores, goals that team2 scores
    # if team1 and team2 are the same, just report and return table
    # if either team is not in the table, report accordingly and return table
    # otherwise, update the table and return the updated table that is already sorted

    # enter your code here
    names = []
    for i in range(len(table)):
        names.append(table[i][0])
    if team1 == team2:
      print("Error: a team plays the same team!")
      return table
    elif (team1 not in names) and (team2 not in names):
      print("Error: Both team do not exist in the table!")
      return table
    elif (team1 in names) and (team2 not in names):
      print("Error: Second team does not exist in the table!")
      return table
    elif (team1 not in names) and (team2 in names):
      print("Error: First team does not exist in the table!")
      return table

    else:
      if score1 > score2:
          win = team1
      elif score1 == score2:
          win = 'draw'
      else:
          win = team2

    for name in [team1, team2]:
      for i in range(len(table)):
          if name == table[i][0]:
              #Pts
              if win == name:
                  table[i][2] += 3
              elif win == 'draw':
                  table[i][2] += 1

              #Pld
              table[i][1] += 1

              #Dif
              if name == team1:
                  table[i][3] = score1-score2
              else:
                  table[i][3] = score2-score1

              #For & Agst
              if name == team1:
                  table[i][4] += score1
                  table[i][5] += score2
              elif name == team2:
                  table[i][4] += score2
                  table[i][5] += score1

    table = sortTable(table)
    return(table)






def changePoint(table, team, point):
    # change the Pts of the given team by "point" amount (can be positive and negative integer)
    # return the updated table after point change (the table must be sorted again)

    #enter your code here

    for i in range(len(table)):
      if team == table[i][0]:
        table[i][2] += point
        break

    table = sortTable(table)
    return(table)







def removeTeams(table, toRemove):
    # remove some team from the table ,
    # toRemove is a list of team names to remove, for example: ["Southampton", "Arsenal", "Liverpool"]
    # return the updated table (must already be sorted again)

    # enter your code here
    names = []
    for i in range(len(table)):
        names.append(table[i][0])

    for j in toRemove:
      for i in range(len(table)):
        if j == table[i][0]:
          table.pop(i)
          break

    table = sortTable(table)
    return(table)







def addTeams(table, toAdd):
    # add some team to the table,
    # toAdd is a list of team names to add, for example: ["Southampton", "Arsenal", "Liverpool"]
    # set all numbers associated with the newly added teams to 0
    # return the updated table (must already be sorted again)
    # Assume that the name of team will never duplicate with existing ones in the table!

    # enter your code here
    for i in toAdd:
      table.append([i,0,0,0,0,0])

    table = sortTable(table)
    return(table)





def resetTable(table):
    # reset all number information in the table to 0
    # return the updated table (already sorted again)
    # enter your code here
    for i in range(len(table)):
      table[i][1], table[i][2], table[i][3], table[i][4], table[i][5] = 0,0,0,0,0

    table = sortTable(table)
    return table





def loadFile(filename):
    # make a table from a given text file
    # the text file form is similar to the following example (actual file is also given)
    # Be careful, there are white spaces to make the table readable:

    # Team        |Pld|Pts|Dif|For|Agst|
    # Blackburn   |  2|  3|  1|  3|   2|
    # Southampton |  1|  3|  1|  2|   1|
    # Chelsea     |  2|  3| -1|  3|   4|
    # Arsenal     |  1|  1|  0|  4|   4|
    # Liverpool   |  1|  1|  0|  4|   4|
    # Everton     |  1|  0| -1|  1|   2|

    # return the table (must be sorted)

    # enter your code here
    f = open(filename, "r")
    s = f.readlines()
    s.pop(0)
    for i in range(len(s)):
        s[i] = s[i].strip("|\n")

    table = []

    for i in range(len(s)):
        table.append(s[i].split("|"))

    for i in range(len(s)):
        for j in range(6):
            table[i][j] = table[i][j].strip()
            if j != 0:
                table[i][j] = int(table[i][j])

    sortTable(table)
    return table

## TEST

You can test your program by adding new code cell after this cell.

These test examples will all return true for every line if your codes are correct. Not all functions are tested here though. You will have to write additional tests by yourself.

Test CreateTable:

In [ ]:

x = createTable("Arsenal Liverpool Chelsea") == [["Arsenal",0,0,0,0,0],["Chelsea",0,0,0,0,0],["Liverpool",0,0,0,0,0]]
y = createTable("Liverpool Newcastle Tottemham Blackburn Stoke Bolton Arsenal ManCity") == [["Arsenal",0,0,0,0,0], ["Blackburn",0,0,0,0,0], ["Bolton",0,0,0,0,0],["Liverpool",0,0,0,0,0], ["ManCity",0,0,0,0,0], ["Newcastle",0,0,0,0,0], ["Stoke",0,0,0,0,0], ["Tottemham",0,0,0,0,0]]
print(x)
print(y)

True
True

Test sortTable:

In [1]:
table = [['Blackburn', 2, 3, 1, 3, 2], ['Southampton', 2, 4, 2, 3, 1]]
x = sortTable(table) == [['Southampton', 2, 4, 2, 3, 1], ['Blackburn', 2, 3, 1, 3, 2]]

table = [['Arsenal', 1, 1, 0, 4, 4], ['Liverpool', 1, 1, 0, 5, 5]]
y = sortTable(table) == [['Liverpool', 1, 1, 0, 5, 5], ['Arsenal', 1, 1, 0, 4, 4]]

table = [['Leicester', 2, 0, -1, 1, 2], ['Newcastle', 1, 0, -1, 1, 2], ['Everton', 2, 0, -1, 1, 2],['Derby', 2, 0, -1, 1, 1], ['Liverpool', 1, 1, 0, 5, 5], ['Blackburn', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4],
         ['Arsenal', 1, 1, 0, 4, 4], ['Southampton', 2, 4, 2, 3, 1]]
z = sortTable(table) == [['Southampton', 2, 4, 2, 3, 1], ['Blackburn', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4], ['Liverpool', 1, 1, 0, 5, 5], ['Arsenal', 1, 1, 0, 4, 4], ['Derby', 2, 0, -1, 1, 1], ['Everton', 2, 0, -1, 1, 2], ['Leicester', 2, 0, -1, 1, 2], ['Newcastle', 1, 0, -1, 1, 2]]

print(x)
print(y)
print(z)

NameError: ignored

Test toString:

In [ ]:
table = [['Stoke', 2, 0, -1, 1, 2], ['Newcastle', 1, 0, -1, 1, 2], ['Everton', 2, 0, -1, 1, 2],
                 ['ManCity', 2, 0, -1, 1, 1]]

x = (toString(table) == "Team        |Pld|Pts|Dif|For|Agst|" + "\n" + "Stoke       |  2|  0| -1|  1|   2|" + "\n" + "Newcastle   |  1|  0| -1|  1|   2|" + "\n" + "Everton     |  2|  0| -1|  1|   2|" + "\n" +"ManCity     |  2|  0| -1|  1|   1|" + "\n")
print(x)

table = [['Stoke', 2, 0, -1, 1, 2], ['Newcastle', 1, 0, -1, 1, 2], ['Everton', 2, 0, -1, 1, 2],
                 ['Derby', 2, 0, -1, 1, 1], ['Liverpool', 1, 1, 0, 5, 5], ['Leicester', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4],
                 ['Arsenal', 1, 1, 0, 4, 4], ['Southampton', 2, 4, 2, 3, 1]]
expected = "Team        |Pld|Pts|Dif|For|Agst|" + "\n" +"Stoke       |  2|  0| -1|  1|   2|" + "\n" +"Newcastle   |  1|  0| -1|  1|   2|" + "\n" +"Everton     |  2|  0| -1|  1|   2|" + "\n" +"Derby       |  2|  0| -1|  1|   1|" + "\n" +"Liverpool   |  1|  1|  0|  5|   5|" + "\n" +"Leicester   |  2|  3|  1|  3|   2|" + "\n" +"Chelsea     |  2|  3|  0|  4|   4|" + "\n" +"Arsenal     |  1|  1|  0|  4|   4|" + "\n" +"Southampton |  2|  4|  2|  3|   1|" + "\n"
print(expected == toString(table))

True
True

Test match (no error cases. You must test the error cases by yourself):

In [ ]:
table = [['Stoke', 2, 0, -1, 1, 2], ['Newcastle', 1, 0, -1, 1, 2], ['Everton', 2, 0, -1, 1, 2],
                 ['Derby', 2, 0, -1, 1, 1], ['Liverpool', 1, 1, 0, 5, 5]]
table = match(table, "Newcastle", "Liverpool", 3, 1)
expected = [['Newcastle', 2, 3, 1, 4, 3], ['Liverpool', 2, 1, -2, 6, 8], ['Derby', 2, 0, -1, 1, 1], ['Everton', 2, 0, -1, 1, 2], ['Stoke', 2, 0, -1, 1, 2]]
print(expected == table)

table = [['Stoke', 2, 0, -1, 1, 2], ['Newcastle', 1, 0, -1, 1, 2], ['Chelsea', 2, 3, 0, 4, 4],
             ['Arsenal', 1, 1, 0, 4, 4], ['Southampton', 2, 4, 2, 3, 1]]
table = match(table, "Arsenal", "Chelsea", 2, 4)
expected = [['Chelsea', 3, 6, 2, 8, 6], ['Southampton', 2, 4, 2, 3, 1], ['Arsenal', 2, 1, -2, 6, 8], ['Newcastle', 1, 0, -1, 1, 2], ['Stoke', 2, 0, -1, 1, 2]]
print(expected == table)

table = [['Stoke', 2, 0, -1, 1, 2], ['Newcastle', 1, 0, -1, 1, 2], ['Chelsea', 2, 3, 0, 4, 4],
             ['Arsenal', 1, 1, 0, 4, 4], ['Southampton', 2, 4, 2, 3, 1]]
table = match(table, "Arsenal", "Chelsea", 2, 2)
expected = [['Southampton', 2, 4, 2, 3, 1], ['Chelsea', 3, 4, 0, 6, 6], ['Arsenal', 2, 2, 0, 6, 6], ['Newcastle', 1, 0, -1, 1, 2], ['Stoke', 2, 0, -1, 1, 2]]
print(expected == table)

True
True
True

Test changePoint:

In [ ]:
table = [['Liverpool', 1, 1, 0, 5, 5], ['Blackburn', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4],
                 ['Arsenal', 1, 1, 0, 4, 4], ['Southampton', 2, 4, 2, 3, 1]]
table = changePoint(table, "Arsenal", 5)
expected = [['Arsenal', 1, 6, 0, 4, 4], ['Southampton', 2, 4, 2, 3, 1], ['Blackburn', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4], ['Liverpool', 1, 1, 0, 5, 5]]
print(table == expected)

table = [['Liverpool', 1, 1, 0, 5, 5], ['Blackburn', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4],
             ['Arsenal', 1, 1, 0, 4, 4], ['Southampton', 2, 4, 2, 3, 1]]
table = changePoint(table, "Southampton", -3)
expected = [['Blackburn', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4], ['Southampton', 2, 1, 2, 3, 1], ['Liverpool', 1, 1, 0, 5, 5], ['Arsenal', 1, 1, 0, 4, 4]]
print(table == expected)

table = [['Liverpool', 1, 1, 0, 5, 5], ['Blackburn', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4],
             ['Arsenal', 1, 1, 0, 4, 4], ['Southampton', 2, 4, 2, 3, 1]]
table = changePoint(table, "Leicester", -3)
expected = [['Southampton', 2, 4, 2, 3, 1], ['Blackburn', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4], ['Liverpool', 1, 1, 0, 5, 5], ['Arsenal', 1, 1, 0, 4, 4]]
print(table == expected)

True
True
True

Test removeTeams:

In [ ]:
table = [['Liverpool', 1, 1, 0, 5, 5], ['Blackburn', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4], ['Arsenal', 1, 1, 0, 4, 4], ['Southampton', 2, 4, 2, 3, 1]]
table = removeTeams(table, ["Blackburn", "Arsenal", "Liverpool"])
expected = [['Southampton', 2, 4, 2, 3, 1], ['Chelsea', 2, 3, 0, 4, 4]]
print(table == expected)

table = [['Liverpool', 1, 1, 0, 5, 5], ['Blackburn', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4], ['Arsenal', 1, 1, 0, 4, 4], ['Southampton', 2, 4, 2, 3, 1]]
table = removeTeams(table, ["Blackburn", "Chelsea", "Arsenal"])
expected = [['Southampton', 2, 4, 2, 3, 1], ['Liverpool', 1, 1, 0, 5, 5]]
print(table == expected)

table = [['Liverpool', 1, 1, 0, 5, 5], ['Blackburn', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4], ['Arsenal', 1, 1, 0, 4, 4], ['Southampton', 2, 4, 2, 3, 1]]
table = removeTeams(table, ["Arsenal", "Blackburn"])
expected = [['Southampton', 2, 4, 2, 3, 1], ['Chelsea', 2, 3, 0, 4, 4], ['Liverpool', 1, 1, 0, 5, 5]]
print(table == expected)

table = [['Liverpool', 1, 1, 0, 5, 5], ['Blackburn', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4], ['Arsenal', 1, 1, 0, 4, 4], ['Southampton', 2, 4, 2, 3, 1]]
table = removeTeams(table, ["ManU", "Blackburn"])
expected = [['Southampton', 2, 4, 2, 3, 1], ['Chelsea', 2, 3, 0, 4, 4], ['Liverpool', 1, 1, 0, 5, 5], ['Arsenal', 1, 1, 0, 4, 4]]
print(table == expected)

True
True
True
True

Test addTeams:

In [ ]:
table = [['Newcastle', 1, 0, -1, 1, 2], ['Everton', 2, 0, -1, 1, 2], ['Derby', 2, 0, -1, 1, 1], ['Blackburn', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4]]
table = addTeams(table, ["Southampton", "Arsenal", "Liverpool"])
expected = [['Blackburn', 2, 3, 1, 3, 2], ['Chelsea', 2, 3, 0, 4, 4], ['Arsenal', 0, 0, 0, 0, 0], ['Liverpool', 0, 0, 0, 0, 0], ['Southampton', 0, 0, 0, 0, 0], ['Derby', 2, 0, -1, 1, 1], ['Everton', 2, 0, -1, 1, 2], ['Newcastle', 1, 0, -1, 1, 2]]
print(table == expected)

True

Test resetTable:

In [ ]:
table = [['Stoke', 2, 0, -1, 1, 2], ['Newcastle', 1, 0, -1, 1, 2], ['Everton', 2, 0, -1, 1, 2], ['Derby', 2, 0, -1, 1, 1]]
table = resetTable(table)
expected = [['Derby', 0, 0, 0, 0, 0], ['Everton', 0, 0, 0, 0, 0], ['Newcastle', 0, 0, 0, 0, 0], ['Stoke', 0, 0, 0, 0, 0]]
print(table == expected)

True

Test loadFile: (please prepare the file table.txt in advance)

In [ ]:
table = loadFile("table.txt")
expected = [['Blackburn', 2, 3, 1, 3, 2], ['Southampton', 1, 3, 1, 2, 1], ['Chelsea', 2, 3, -1, 3, 4], ['Arsenal', 1, 1, 0, 4, 4], ['Liverpool', 1, 1, 0, 4, 4], ['Everton', 1, 0, -1, 1, 2]]
print(table == expected)

True